.modal-body{
    display: flex;
    flex-direction: column;
}

.modal-body input{
    margin-bottom: 15px;
}

input[type=file]{
    display: none;
}

.custom-input{
    display: flex;
    width: 50%;
    height: 50px;
    justify-self: center;
    align-self: center;
    background-color: purple;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.image-preview{
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 250px;
    max-height: 250px;
}

img{
    border-radius: 50%;
    border: 3px solid rgb(21, 179, 207);
    max-width: 200px;
    max-height: 200px;
    
}