<div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button style="background-color: transparent; border: none;" type="button" class="close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="email" placeholder="Email" [(ngModel)]="email">
    <input class="form-control" type="password" placeholder="Senha" [(ngModel)]="senha">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="entrar()">Entrar</button>
  </div>
  